
/*

Nesting
When writing HTML you've probably noticed that it has a clear nested and visual hierarchy. CSS, on the other hand, doesn't.

Sass will let you nest your CSS selectors in a way that follows the same visual hierarchy of your HTML. 
Be aware that overly nested rules will result in over-qualified CSS that could prove hard to maintain and is generally considered bad practice.

With that in mind, here's an example of some typical styles for a site's navigation:

*/

nav {
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
}


.menu {

    margin: 10px;

    grid-template: {
        columns: 20px 20px;
        rows: auto;
    }

    .link {
        text-decoration: none;
    }
}


.nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  width: 100vw;
  height: 60px;

  .nav__logo {
      display: flex;
      margin-left: 20px;
  }

  & label {
      color: #fff;
  }

  .nav__menu {
     display: flex; 
     margin-right: 20px;
  }

  & a {
      color: #fff
  }

}