
/* Header */
.header {
    display: grid;
    background: $degradado-header;

    .header__nav {
        display: flex;
        justify-content: space-between;

        .header__ul-img {
            margin-left: 44px;
            margin-top:45px;
        }
    
    
        & label {
            color: $blanco-nav;
        }
    
        .header__ul-texto {
            display: flex;
            margin-left: 50px;
            margin-top: 45px;
        }
    
        .header__li {
            list-style: none;
        }
    
        .header__a {
            color:  $blanco-nav;
            margin: 10px 10px;
            text-decoration: none;
        }
    
        .header__ul-login {
            margin-top: 45px;
            margin-right: 41px;
        }
    }
}

    


/* Header */
.header__div-contenedor {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: 45px;  
    

    .header__div-bloque {
        display: flex;
        justify-content: flex-end;
        width: 50%;  
    }


    .header__h1-texto {
        color:$blanco-nav;
       
    }

    .header__p-texto {
        height: 100px;
        width: 30%;
        color: $blanco-nav;
    }

    .header__button {
        background-color: $button;
        width: 100px;
        height: 30px;
        margin-left: 60px;
        padding: 10px;
        border-radius: 15px;
        border: none;
        color:$blanco-nav;
    }

    .header__div-bloque-ti {
        width: 50%;
        margin-bottom: 50px;
    }

    .header__img { 
        width: 200px;
        height: 215px;
    }

    .header__div-texto {
        color:$blanco-nav;
    }

}