/* Section */
.section {
  background-color: #ffffff;

  .div__contenedor {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
  }

  .div__bloque {
    background-color: $fondo-div;
    border-radius: 10px;
    height: 438px;
    width: 300px;
    margin-top: 41px;
    margin-right: 48px;
  }

  .section__contenedor-tt {
    margin-top: 48px;
  }

  .section__titulo {
    text-align: center;
    color: $color-titulo;
  }

  .section__texto {
    text-align: center;
    color: $titulo-section;
    font-size: 10px;
  }

  .div__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 163px;
    width: 272px;
    margin: 23px 18px 50px 18px;
  }

  .div__h1-titulo {
    text-align: center;
    color: $titulo-div;
  }

  .div__p-texto {
    text-align: center;
    justify-content: center;
    margin-top: 18px;
    color: $subtitulo-div;
  }
}

/* -------------------------- Table -------------------------- */
@media screen and (max-width: 768px) {
  /* Section */

  .div__contenedor {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: blueviolet;
  }
}
