
/* Colores */

$verde-logo: #a2bd00;
$blanco-nav: #ffffff;
$borde-nav: #4bc3f1;
$button: #a2bd00;

/* Section */
/* Colores */
$fondo-section:#ffffff;
$color-titulo: #613cf7;
$titulo-section: #828282;
$fondo-div: #0D0D0D;
$titulo-div: #ffffff;
$subtitulo-div:#4523C6;
$button-div: #8743FF;

/* Footer */
$fondo-footer: #613cf7;

/* Degradado */
$degradado-header: linear-gradient(140deg, #EC0CB0, #2553D2);