
@mixin menu-01 {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: chocolate;
        width: 100vw;
        height: 60px;

        .nav__logo {
            display: flex;
            margin-left: 20px;
        }

        & label {
            color: #fff;
        }

        .nav__menu {
           display: flex; 
           margin-right: 20px;
        }

        .nav__li {
            margin: 0 5px;
            list-style: none;
            
        }

        .nav__li :hover {
            background-color: coral;
            transition: .3s;
        }

        & a {
            color: #fff;
            text-decoration: none;
            padding: 2px 10px;
            border-radius: 5px;
        }
    }
    
}
