
/* ======================== TIPOS DE VARIABLES =====================*/
/* Numericos */
$num1: 5;
$tiempo-02: 4s;


/* String */
$text-01: 'VARIABLE TEXTO 1';
$text-02: 'VARIABLE TEXTO 2';


/* Colores */
$blanco-puro: #fff;
$verde-logo-nc: green;
$rojo-nc: red;
$azul-01: #41C8F2;
$azul-02: #7CA4F2;
$azul-03: #416BF2;
$naranja-01: #F26852;
$naranja-02: #DB573A;
$naranja-03: #F23A33;


$verde-logo: #a2bd00;
$degrado-header: linear-gradient(140deg, #EC0CB0,#2553D2);


/* listas */
$list1: 1px solid gray;
$list2: 5px 10px 5px 10px;


/* Booleanos */
$state1: false;
$state2: true;


/* Arrays */
$map1: (primary: blue,
    secondary: gray,
    sucess: green);

/* ======================== TIPOS DE VARIABLES =====================*/



/* ========================= USOS ======================== */
/* Colores hexadecimal*/
/* Colores RGB */
/* Colores RGB + Alpha */
/* Tamaños de fuente */
/* Sombras */
/* Degradados */
/* Bordes */
/* Tiempos */
/* ========================= USOS ======================== */


body {
    @debug $num1;           /* @debug - Es como el console.log en js */
    @debug $text-01;
    @debug type-of($tiempo-02);

    color: $text-02;
}

