
@import './variables';


.div-1 {
    background-color: $azul-01;
    color: $blanco-puro;
    width: 100vw;
    height: 100px;
}

.div-2 {
    background-color: $naranja-01;
    color: $blanco-puro;
    width: 100vw;
    height: 100px;
}

.div-3 {
    background-color: $azul-02;
    color: $blanco-puro;
    width: 100vw;
    height: 100px;
}

.div-4 {
    background-color: $naranja-02;
    color: $blanco-puro;
    width: 100vw;
    height: 100px;

    
}

.div {
    background-color: #a2bd00;
    background-color: #a2bd00;
    background-color: $verde-logo;
    background-color: $verde-logo;
    background-color: $verde-logo;
    background-color: $verde-logo;
    background: $degrado-header;
}
