/* TIPOS DE VARIABLES */

/* Numericos */
$num1: 5;
$num2: 4s;


/* String */
$name1: 'Hola';
$name2: '#fff';


/* Colores */
$verde-logo-nc: green;
$rojo-nc: red;
$azul-01: #41C8F2;
$azul-02: #7CA4F2;
$azul-03: #416BF2;
$naranja-01: #F26852;
$naranja-02: #DB573A;
$naranja-03: #F23A33;



/* listas */
$list1: 1px solid gray;
$list2: 5px 10px 5px 10px;


/* Booleanos */
$state1: false;
$state2: true;


/* Arrays */
$map1: (primary: blue,
    secondary: gray,
    sucess: green);




body {
    @debug $num1;           /* @debug - Es como el console.log en js */
    @debug $name1;
    @debug type-of($num2);

    color: $name2;
}