
.footer {
    
    display: grid;
    background-color:#5B8DF0;
    padding: 10px;

    .footer__div-contenedor {
        display: flex;
        justify-content: space-between;
    }

    .footer__div-bloque-izq {
        display: flex;
    }

    .footer__div-bloque-dra {
        display: flex;
    }

    .footer__texto {
        display: flex;
        justify-content: flex-end;
    }

}